<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.github.quinoa42.mpvalfredworkflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0E7E8947-65C2-48AE-8194-8970FEA23514</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F01EEA7-0B90-4B4D-9BAA-E77FE5FB134F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10E42266-827D-48D4-8B99-89ABA73ED19B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FFF2B80-B7A4-40A0-923F-9D39D8251BD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F01EEA7-0B90-4B4D-9BAA-E77FE5FB134F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B552F3F1-9379-4F6F-8A13-6FE0319FEB63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D0A63C6-C80C-4711-A1AF-360EEB5C8FBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA7B50B8-405A-46DD-9FE6-287335725A03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FFF2B80-B7A4-40A0-923F-9D39D8251BD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B2E2558-5549-476E-B359-1C7EDD50C94D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B2E2558-5549-476E-B359-1C7EDD50C94D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E7E8947-65C2-48AE-8194-8970FEA23514</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>148A3C66-D46D-441E-8BCF-993B552831D6</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Browse the file in alfred</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA7B50B8-405A-46DD-9FE6-287335725A03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B552F3F1-9379-4F6F-8A13-6FE0319FEB63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D46BEE72-2488-4B32-A1FC-6CC2BC4058DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10E42266-827D-48D4-8B99-89ABA73ED19B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3D0A63C6-C80C-4711-A1AF-360EEB5C8FBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>quinoa42</string>
	<key>description</key>
	<string>List and choose which file to play with mpv.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>mpv</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 ./script.py set-index "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F01EEA7-0B90-4B4D-9BAA-E77FE5FB134F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>mpv</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B552F3F1-9379-4F6F-8A13-6FE0319FEB63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:index}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0E7E8947-65C2-48AE-8194-8970FEA23514</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/python3 ./script.py --socket /tmp/mpvsocket list</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List files that are in the playlist.</string>
				<key>title</key>
				<string>list</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7B2E2558-5549-476E-B359-1C7EDD50C94D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"playlist","arg":"list","subtitle":"show the current playlist."},{"title":"toggle","arg":"toggle","subtitle":"Toggle whether playing the current file."}]</string>
				<key>keyword</key>
				<string>mpv</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>controll mpv though alfred</string>
				<key>title</key>
				<string>mpv</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D46BEE72-2488-4B32-A1FC-6CC2BC4058DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>10E42266-827D-48D4-8B99-89ABA73ED19B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>list</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>3FFF2B80-B7A4-40A0-923F-9D39D8251BD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>148A3C66-D46D-441E-8BCF-993B552831D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 ./script.py toggle</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CA7B50B8-405A-46DD-9FE6-287335725A03</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>toggle</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3D0A63C6-C80C-4711-A1AF-360EEB5C8FBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>mpv-alfred-workflow
====================

Control mpv through alfred.

Installation
--------------------

You need brew-installed python3 to run this workflow. Otherwise, you have to set up the python3 path manually in the scripts.

Usage
--------------------

mpv has to be started with `--input-ipc-server` flag:

```bash
mpv --input-ipc-server=/tmp/mpvsocket
```

the socket address is default to `/tmp/mpvsocket`.

This workflow would be useful if you use mpv as a music player because you don't like any music player on Mac OS, via some command like this:

```bash
mpv --playlist &lt;(find ~/Music | ag -v "instrumental|Drama|off vocal|オリジナルドラマ" | ag "\.(mp3|flac)$") --shuffle --loop-playlist=yes --no-audio-display --volume=30 --input-ipc-server=/tmp/mpvsocket
```</string>
	<key>uidata</key>
	<dict>
		<key>0E7E8947-65C2-48AE-8194-8970FEA23514</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>10E42266-827D-48D4-8B99-89ABA73ED19B</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>148A3C66-D46D-441E-8BCF-993B552831D6</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>1F01EEA7-0B90-4B4D-9BAA-E77FE5FB134F</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>3D0A63C6-C80C-4711-A1AF-360EEB5C8FBC</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>3FFF2B80-B7A4-40A0-923F-9D39D8251BD7</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>7B2E2558-5549-476E-B359-1C7EDD50C94D</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>B552F3F1-9379-4F6F-8A13-6FE0319FEB63</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>CA7B50B8-405A-46DD-9FE6-287335725A03</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>D46BEE72-2488-4B32-A1FC-6CC2BC4058DB</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://quinoa42.github.io</string>
</dict>
</plist>
